.about-container {
  position: relative;
  margin-bottom: 150px;
}

.header-name {
  font-size: 2rem;
  padding-bottom: 20px;
}

.about-content {
  font-size: 1rem;
  line-height: 1.6;
  max-width: 60%;
  margin: auto;
  position: relative; /* Ensure content is positioned relative */
  z-index: 1; /* Ensure content appears above other elements */
}

.shape-image-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px; /* Adjust the size as needed */
  height: auto;
}

.shape-image-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 340px; /* Adjust the size as needed */
  height: 600px;
  margin-top: -60px;
}

.shape-image-bottom {
  position: absolute;
  bottom: 0;
  left: 200px;
  width: 250px; /* Adjust the size as needed */
  height: auto;
  margin-bottom: -190px;
}

.vector-shape-bottom-right {
  position: absolute;
  bottom: 0;
  right: 90px;
  width: 270px; /* Adjust the size as needed */
  height: auto;
  margin-bottom: -160px;
}
